@font-face {
  font-family: BurbankBigRegular-Black;
  src: url("../assets/fonts/BurbankBigRegular-Black.otf");
}
* {
    padding: 0;
    margin: 0;
}

button:focus {
    outline: 0;
}
.fs-font {
  font-family: BurbankBigRegular-Black;
}
.fortnite-btn {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border-radius: 0;
    line-height: 2;
    z-index: 1;
    font-family: BurbankBigRegular-Black;
    text-transform: uppercase;
    transform: translateZ(0);
    letter-spacing: 0;
    margin-top: 0.5em;
    text-decoration: none;
    color: #000;
    border: none;
    transition: background-color 0.3s ease;
    font-size: 2.5em;
    background: transparent;
    padding: 0px 2em 0px 3em;
    margin-left: -1em;
    span {
      position: relative;
      z-index: 1;
      color: black;
      pointer-events: none;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2em;
      background-color: #ff0;
      -webkit-transition: background-color 0.3s ease-in-out;
      -o-transition: background-color 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;
      -webkit-box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.5);
      box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.5);
      -webkit-animation: jelly 6s ease-in-out infinite;
      animation: jelly 6s ease-in-out infinite;
      -webkit-transform-origin: 50% 50% 20px;
      -ms-transform-origin: 50% 50% 20px;
      transform-origin: 50% 50% 20px;
    }
    &.custom-black {
        span {
            color:white;
        }
        &::after {
            background-color: black;
        }
    }
  }
  .custom-btn {
    &::after {
      clip-path: polygon(
        88.275% 66.35%,
        86.615% 94.231%,
        20.9% 94.231%,
        22.601% 30.652%,
        20.6% 25.455%,
        19.6% 22.727%,
        14.4% 17.273%,
        10.2% 18.182%,
        16.8% 12.727%,
        24.387% 16.706%,
        28.596% 16.005%,
        32.6% 10.909%,
        21.2% 9.091%,
        0% 3.636%,
        30.6% 3.636%,
        33.2% 0%,
        47.2% 4.545%,
        50.2% 7.273%,
        64.4% 8.182%,
        69.67% 9.159%,
        91.9% 5.455%,
        89.284% 49.392%,
        92.2% 54.545%,
        92.6% 58.182%,
        98.4% 64.545%,
        88.275% 66.35%
      );
    }
  }
  .video-play-button {
    width: 5.4em;
    height: 5.4em;
    background-color: rgba(0,0,0,.3);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    border: .2em solid #fff;
    border-image: none;
    border-image: initial;
    transition: all .3s cubic-bezier(.215,.61,.355,1) 0s;
    margin: 0;
    font-size: 0.8vw;
    border-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.5);
    span {
      border-left: 1.8em solid rgb(255, 255, 255);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: relative;
      left: .2em;
      width: 0;
      height: 0;
      border-top: 1.2em solid transparent;
      border-bottom: 1.2em solid transparent;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
  .iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  @keyframes jelly {
    0% {
      -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
      transform: matrix(1, 0, 0, 1, 0, 0);
    }
    50% {
      -webkit-transform: matrix3d(
        1.0593,
        0,
        -0.1,
        0.00025,
        0,
        0.9603,
        0.1,
        -0.0001,
        0.1,
        -0.1,
        0.9801,
        0,
        0,
        -3,
        0,
        1
      );
      transform: matrix3d(
        1.0593,
        0,
        -0.1,
        0.00025,
        0,
        0.9603,
        0.1,
        -0.0001,
        0.1,
        -0.1,
        0.9801,
        0,
        0,
        -3,
        0,
        1
      );
    }
    to {
      -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
      transform: matrix(1, 0, 0, 1, 0, 0);
    }
  }

  @media screen and (max-width: 1440px) {
      .fortnite-btn {
          font-size: 1.4em;
      }
  }

  @media screen and (max-width: 768px) {
    .fortnite-btn {
        font-size: 1em;
    }
}